$-sprite-2x-icon-facebook: 0px 0px 0px 0px 44px 44px 92px 92px '../img/common/sprites@2x.png';
$-sprite-2x-icon-googleplus: 48px 0px -48px 0px 44px 44px 92px 92px '../img/common/sprites@2x.png';
$-sprite-2x-icon-more-article: 48px 48px -48px -48px 24px 18px 92px 92px '../img/common/sprites@2x.png';
$-sprite-2x-icon-more-menu: 48px 70px -48px -70px 24px 18px 92px 92px '../img/common/sprites@2x.png';
$-sprite-2x-icon-twitter: 0px 48px 0px -48px 44px 44px 92px 92px '../img/common/sprites@2x.png';

