$-sprite-1x-icon-facebook: 0px 0px 0px 0px 22px 22px 46px 46px '../../../dist/img/common/sprites@1x.png';
$-sprite-1x-icon-googleplus: 24px 0px -24px 0px 22px 22px 46px 46px '../../../dist/img/common/sprites@1x.png';
$-sprite-1x-icon-more-article: 24px 24px -24px -24px 12px 9px 46px 46px '../../../dist/img/common/sprites@1x.png';
$-sprite-1x-icon-more-menu: 24px 35px -24px -35px 12px 9px 46px 46px '../../../dist/img/common/sprites@1x.png';
$-sprite-1x-icon-twitter: 0px 24px 0px -24px 22px 22px 46px 46px '../../../dist/img/common/sprites@1x.png';

