
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-red: #EF4C23 !default;
$color-background: #EAE2D7 !default;
$color-white: #FFF !default;
$color-pink: #E61052 !default;
$color-beige: #97866F !default;
$color-brown: #2A1F0F !default;

// Container definitions
$container-width: 960px !default;
$container-padding: 20px !default;

// Content definitions
$contentbox-width: 640px !default;

// Sidebar definitions
$sidebar-width: 300px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
$font-size: 1.6em !default;
$font-line-height: 1.4 !default;

